table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.shopUpdate {
    display: grid;
    row-gap: 1rem;
    column-gap: 1em;
    grid-template-areas: "header header"
        "shopName shopImage"
        "shopDescription shopDescription"
        "displayedImage displayedImage"
    ;
    grid-template-columns: 1fr 1fr;
}

.shopUpdate>h3.header {
    grid-area: header;
}

.shopUpdate>div.shopName {
    grid-area: shopName;
}

.shopUpdate>div.shopImage {
    grid-area: shopImage;
}

.shopUpdate>div.shopDescription {
    grid-area: shopDescription;
}

.shopUpdate>div.displayedImage {
    grid-area: displayedImage;
}

.shopUpdate div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}